.textContainer {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 50px;
    z-index: 0;
}

.mainText {
    display: flex;
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
    font-size: 70px;
    font-weight: bold;
    z-index: 0;
}

.row1 {
    top: 0px;
    left: 0;
}

.row2 {
    top: 81px;
    right: -20px;
}

.row3 {
    top: 162px;
    left: 10px;
}

.row4 {
    top: 243px;
    right: -40px;
}

.row5 {
    top: 324px;
    right: -110px;
}

.row6 {
    top: 405px;
    right: 25px;
}

.row7 {
    top: 486px;
    left: 15px
}

.row8 {
    top: 567px;
    left: 0;
}

.row9 {
    top: 642px;
    right: -20px;
}

.row10 {
    top: 729px;
    left: 10px;
}

.row11 {
    top: 800px;
    right: -40px;
}

.row12 {
    top: 881px;
    right: -110px;
}

.row13 {
    top: 962px;
    right: 25px;
}

.row14 {
    top: 1043px;
    left: 15px
}

.row15 {
    top: 1124px;
    left: 0;
}

.row16 {
    top: 1205px;
    right: -20px;
}

.row17 {
    top: 1286px;
    left: 10px;
}

.row18 {
    top: 1367px;
    right: -40px;
}

.row19 {
    top: 1448px;
    right: -110px;
}

.row20 {
    top: 1529px;
    right: 25px;
}

.row21 {
    top: 1610px;
    left: 15px
}

.row22 {
    top: 1691px;
    left: 0;
}

.row23 {
    top: 1772px;
    right: -20px;
}
