.dashboardContainer {
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;
}

.soundsAndDetailsContainer {
    height: 100%;
    padding-top: 30px;
    margin-bottom: 50px;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    background-color: white;
    z-index: 1;
}

.soundsContainer {
    height: 100%;
    border-top: 1px solid rgb(228, 228, 228);
    display: flex;
    flex-direction: column;
    padding: 25px;
}

.detailsContainer {
    height: 100%;
    border-top: 1px solid rgb(228, 228, 228);
    display: flex;
    width: 20%;
}

@media only screen and (max-width: 700px) {
    .soundsAndDetailsContainer {
        width: 100%;
    }
}
