.formContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.form {
    display: flex;
    flex-direction: column;
    padding: 14px 14px 7px;
    border: 2px solid;
    margin-top: 28px;
    z-index: 1;
    background-color: white;
}

.title {
    margin: 0px 0px 14px;
}

.usernameInput {
    border: none;
    border-bottom: 2px solid;
    width: 200px;
}

.passwordInput {
    border: none;
    border-bottom: 2px solid;
    width: 200px;
    margin-top: 7px;
}

.error1 {
    color: red;
    font-size: small;
}

.error2 {
    color: red;
    font-size: small;
    padding-bottom: 7px;
}

.submitInput {
    display: none;
}
