.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
}

.label {
    display: flex;
    justify-content: space-between;
}
