.navBar {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ff6700;
}

.linkContainer {
    display: flex;
    align-items: center;
}

.buttonContainer {
    width: 350px;
}

.navBarLink,
.navBarLink:visited {
    margin: 5px;
    padding: 7px;
    color: black;
    background-color: #ff6700;
    text-decoration: none;
}

.navBarLink:hover {
    background-color: white;
}


.navBarLink.active {
    background-color: white;
}

.navBarLink:active {
    color: white;
    background-color: black;
}
