.navBar {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ff6700;
}

.linkContainer {
    display: flex;
    align-items: center;
}

.navBarLink,
.navBarLink:visited {
    margin: 5px;
    padding: 7px;
    /* border-radius: 5px; */
    color: black;
    background-color: #ff6700;
    text-decoration: none;
    /* transition: background-color .2s; */
}

.navBarLink:hover {
    background-color: white;
}

.navBarLink.active {
    background-color: white;
}

.navBarLink:active {
    color: white;
    background-color: black;
}
