.formContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
}

.label {
    display: flex;
    justify-content: space-between;
}

.error {
    color: red;
    font-size: small;
    padding-bottom: 7px;
}

.imagePreview {
    height: 50px;
    width: 50;
}

.imageUpload {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.imageInput {
    display: none;
}

.submitInput {
    display: none;
}
