.formContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
}

.label {
    display: flex;
    justify-content: space-between;
}

.textInput {
    border: none;
    border-bottom: 2px solid;
    margin-top: 7px;
    width: 250px;
}

.textAreaInput {
    border: 2px solid;
    resize: none;
    margin-top: 7px;
    width: 250px;
    height: 100px;
    font-family: 'Helvetica';
}

.error {
    color: red;
    font-size: small;
    padding-bottom: 7px;
}

.imagePreview {
    height: 50px;
    width: 50;
}

.imageUpload {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 7px;
}

.imageInput {
    display: none;
}

.submitInput {
    display: none;
}
