.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
}

.label {
    margin: 5px;
    display: flex;
    justify-content: space-between;

}

.preview {
    margin: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.imagePreview {
    height: 163px;
    width: 163px;
}

.soundPreview {
    height: 163px;
    margin-left: 30px;
}

.uploadButtons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

textarea {
    width: 450px;
    height: 60px;
}

.soundInput {
    display: none;
}

.imageInput {
    display: none;
}

.submitInput {
    display: none;
}
