.uploadContainer {
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: whitesmoke;
}

.formContainer {
    margin-bottom: 50px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.form {
    display: flex;
    flex-direction: column;
    padding: 14px 14px 7px;
    border: 2px solid;
    margin-top: 28px;
}

.title {
    margin: 0px 0px 14px;
}

.label {
    margin: 5px;
    display: flex;
    justify-content: space-between;

}

.textInput {
    border: none;
    border-bottom: 2px solid;
    margin-top: 7px;
    width: 590px;
}

.textAreaInput {
    border: 2px solid;
    resize: none;
    margin-top: 7px;
    width: 590px;
    height: 120px;
    font-family: 'Helvetica';
}

.error {
    color: red;
    font-size: small;
}

.preview {
    /* margin: 5px; */
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

.imagePreview {
    height: 163px;
    width: 163px;
}

.soundPreview {
    height: 163px;
    width: 400px;
    margin-left: 30px;
}

.loading {
    width: 120px;
    height: 90px;
    border-left: 155px solid white;
    border-right: 155px solid white;
    left: 180px;
    /* display: none; */
    position: absolute;
}

.uploadButtons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* .description {
    width: 450px;
    height: 60px;
} */

.soundInput {
    display: none;
}

.imageInput {
    display: none;
}

.submitInput {
    display: none;
}
