.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
}

.label {
    display: flex;
    justify-content: space-between;

}

.soundUpload {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.soundInput {
    display: none;
}

.imageUpload {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.imagePreview {
    height: 150px;
    width: 150;
}

.imageInput {
    display: none;
}

.submitInput {
    display: none;
}
