/* site wide styles */
html, body, #root, .outermost-container {
    /* display: flex;
    flex-direction: column; */
    height: 100%;
}

body {
    margin: 0px;
}

.outermost-container {
    position: relative;
}

.navBar {
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #ff6700;
}

.navBar-navLink,
.navBar-navLink:visited {
    margin: 5px;
    padding: 7px;
    /* border-radius: 5px; */
    color: black;
    background-color: #ff6700;
    text-decoration: none;
    /* transition: background-color .2s; */
}

.navBar-navLink:hover {
    background-color: white;
}

.navBar-navLink.active {
    background-color: white;
}

.navBar-navLink:active {
    color: white;
    background-color: black;
}
