/* site wide styles */
html, body, #root, .outermost-container {
    height: 100%;
    font-family: Helvetica, sans-serif;
    overflow-x: hidden;
}

body {
    margin: 0px;
}

.outermost-container {
    position: relative;
}
