/* site wide styles */
html, body, #root, .outermost-container {
    /* display: flex;
    flex-direction: column; */
    height: 100%;
    font-family: Helvetica, sans-serif;
    overflow-x: hidden;
    /* overflow-y: hidden; */
}

body {
    margin: 0px;
}

.outermost-container {
    position: relative;
}

.navBar {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ff6700;
}

.navBar-linkContainer {
    display: flex;
    align-items: center;
}

.searchBar {
    margin: 0px 5px;
    border: none;
    width: 200px;
}

.searchResultsContainer {
    margin: 0px 5px;
    background-color: rgb(245 245 245);
    position: absolute;
    width: 200px;
    z-index: 3;
}

.searchResultsContainer:focus {
    outline: none;
}

.searchResult {
    color: black;
    text-decoration: none;
    display: flex;
}

.searchResultText {
    width: 100%;
    margin: 2px 0px;
}

.divider {
    width: 200px;
    height: 1px;
    background-color: rgb(200 200 200);
    /* z-index: 2; */
}

.navBar-navLink,
.navBar-navLink:visited {
    margin: 5px;
    padding: 7px;
    /* border-radius: 5px; */
    color: black;
    background-color: #ff6700;
    text-decoration: none;
    /* transition: background-color .2s; */
}

.navBar-navLink:hover {
    background-color: white;
}

.navBar-navLink.active {
    background-color: white;
}

.navBar-navLink:active {
    color: white;
    background-color: black;
}
